*{
    font-family: 'Montserrat', sans-serif;
}
.alert{
    position: relative;
}
.icon{
    width: 80px;
}
.alert button{
    right: 0;
    position: absolute;
    top: 25%;
    padding: 0 0.5rem;
}
.pdf-link{
    color: #041f56;
}
.pdf-link:hover{
    text-decoration: none;
}
.nav-design{
    background-color: white;
    padding: 0;
    color: #041f56;
    box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.75);
}
.nav-design .container{
    padding: 0 1rem;
}
.nav-design ul{
    padding-top: 19px;
}
.nav-design li{
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
}
.nav-design li a{
    color: #041f56;
}
.nav-design li:hover{
    margin-bottom: 0;
    border-bottom: 3px solid #041f56;
    transition: all 0.5s ease;
}
.pc,
.padding-container{
    padding: 2em;
}
.sizeH{
    font-size: 1.2rem;
}
.content-second{
    color: #041f56;
    max-width: 600px;
}
.height-all{
    height: 100vh;
}
.height-half{
    height: 70vh;
}
.img-start{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('../images/carousel-1.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.carousel-2{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('../images/carousel-2.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.carousel-3{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('../images/carousel-3.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.carousel{
    position: relative;
}
.title-container h1{
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    color: white;
    font-weight: bold;
    margin: 0;
}
.title-container p{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: white;
    font-style: italic;
    padding-left: 3rem;
}
#ini-i .title-container{
    padding-left: 10%;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
}
.img-jump-1{
    height: 40vh;
    background: transparent;

}
.img-enfoque{
    height: 25rem;
}
.img-second,.img-oh{
    background: transparent;
}
.img-oh{
    background: url('../images/img-6.jpg');
    background-position: center;
    background-size: cover;
}
.second-div{
    width: 50%;
}
.second-row,.qs-container,.back-blue,.our-history{
    background-color: #041f56;
    color: white;
}
.second-row p,.our-history p{
    font-size: 1.2rem;
}
.second-row h2{
    font-size: 40px;
}
.our-history h1{
    font-size: 2rem;
}
/* quienes somos */
.qs-container .ms{
    background-color: white;
    color: black;
}
.list-behavior{
    width: max-content;
    margin: auto;
}
/* contactanos */
.btn-send:hover, .btn-send:active{
    color: white;
}

/* que hacemos */
.enfoque .row{
    height: 100%;
}
.expose{
    font-size: 20px;
    font-weight: bold;
}
.footer{
    height: 40vh;
    background-color: #DCDFE7;
}
.footer .row{
    border-bottom: 1px solid black;
}
.a-footer a{
    text-decoration: none;
    padding: 0 1rem;
    color: #041f56;
}
.icon-footer img{
    width: 30px;
}
/* proveedores */
.provider h2{
    margin-bottom: 2rem;
}
.card{
    position: relative;
    padding: 0;
}
.set-dark{
    
    position: absolute;
    height: 100%;
    width: 100%;
    background:linear-gradient(transparent,rgba(4,31,86,.9));
    z-index: 1;
}
.card .card-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

}
.card-content p{
    margin-top: 0;
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}
@media (max-width:768px){
    
    .height-all{
        height: auto;
    }
    .height-half{
        height: auto;
    }
    .second-row p, .our-history p{
        font-size: 1rem;
    }
    .second-row h2, .our-history h1{
        font-size: 1.75rem;
    }
    .title-container h1{
        font-size: 5rem;
        color: white;
        font-weight: bold;
        margin: 0;
    }
    .title-container p{
        font-size: 2rem;
        color: white;
        font-style: italic;
        padding-left: 3rem;
    }
    .img-enfoque{
        height: 40vh;
    }
    .footer{
        height: auto;
    }
    .icon-footer-container{
        padding-bottom: 1rem;
    }
    .vision-content{
        background-color: #041f56;
        color: white;
    }
    .card-content p{
    font-size: 1rem;
    }
}
@media (max-width:425px){
    .img-second {
        height: 235px;
    }
    .padding-container{
        padding: 1.3rem;
    }
    .pc{
        padding: 1.5rem;
    }
    .title-container p{
        padding-left: 0;
    }
    .alert button{
        top: 0;
    }
    .sizeH{
        font-size: 1rem;
        text-align: center;
    }
    
}